* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: inline-block;
    margin-right: 15px;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
}

nav a:hover {
    background-color: navy;
}

h1 {
    color: darkblue;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    border-radius: 4px;
}

main {
    max-width: 840px;
    margin: 0 auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin-left: 1rem;
}

p {
    margin-bottom: 1rem;
    line-height: 1.5;
}

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgba(0 0 0 / 10%);
    background-color: #ddd;
    color: #000;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    padding: 10px 0;
}

/* Class Selectors */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}