body {
    font-family: Arial, Helvetica, sens-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2f4f4f;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 1rem auto;
    padding: 1rem;
}

img {
    width: 100%;
    height: auto;
}

section {
    margin-bottom: 1.5rem;
}

footer {
    background-color: #2f4f4f;
    color: white;
    text-align: center;
    padding: 0.75rem;
}